.topbar {
    background-color: darkslategrey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: crimson;
    height: 100px;
}
.leftContainer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 70%;
    
}

#latest {
    margin-top:15px;
    margin-bottom: 15px;
}

.select {
    font-size: 20px;
    margin: 3px;
}

.rightContainer {
    height: 100%;
    width: 400px;
    position: absolute;
    top: 110px;
    
    right: 0;
    margin: 10px;
    background-color: #e7a183;
}

.results {
    margin: 15px;
    
}

.vote {
    margin: 15px;
}

.position {
    margin: 15px;
}